{% extends 'base.html.twig' %}

{% block title %}Random Gift - Home{% endblock %}

{% block body %}
<main class="container">
    <div class="content">
        <h1 class="text-center mt-5">Random Gift Picker</h1>
        <h2 class="text-center mt-3">Put names under the magic christmas tree below</h2>
        <div class="img-container d-flex justify-content-center">
            <img class="img-img" src="./assets/img/christmas-tree-gifts.png" alt="christmas tree and gifts">
        </div>
        <div class="names-content">
            <p class="names-content-p"></p>
        </div>
        <div class="form-container d-flex justify-content-center mb-5 mx-5">
            <div class="input-group-prepend">
                <span class="input-group-text d-none d-lg-block">First and last name</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" id="first-name-input" placeholder="First name">
            <input type="text" aria-label="Last name" class="form-control" id="last-name-input" placeholder="Last name">
            <button type="button" class="btn btn-info" id="add-button">Add</button>
    </div>

</main>
{% endblock %}
