body {
    background-color: #FFEAD2;
}

h1 {
    color: #218380;
}

h2 {
    color: #020100;
}


.names-content {
    text-align: center;
}

.img-img {
    width: 100%;
    max-width: 600px;
}

.inputs-container {
    width: 100%;
}

.input-group-text {
    background-color: #FFEAD2;
}

.btn-info {
    background-color: #218380;
}

.template-node {
    width: 100%;
}

.submit-container {
    width: 100%;
}

.submit-btn {
    width: 100%;
}

.new-inputs-container {
    width: 100%;
}

.add-button-container {
    min-width: 100%;
}

.add-button {
    width: 100%;
}

.table-header {
    background-color: #218380;
    color: white;
}