<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Magic has rules !!</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>Enter names in the fields below</li>
            <li>You need more than one participant</li>
            <li>Click the "Add participant" button to add a new participant</li>
            <li>Magic favors gifting to members from different Families (with different Last names)</li>
            <li>First name and last name can be made of letters, numbers, hyphen. Not more </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>